@import '../@theme/styles/themes';
@import '../../assets//css/variables';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}


.options{
  position: fixed;
  width: $sidenav-width;
  overflow: hidden;
  .control{
      padding: 6px 14px;
      div{
          padding: 6px 0;
      }
      h4{
          border-bottom: 1px solid #ccc;
          margin: 12px 0 6px 0;
      }
      .skin-primary{
          width: 32px;
          height: 32px;
          padding: 0;
          overflow: hidden;            
          cursor: pointer;  
          .skin-secondary{
              width: 0; 
              height: 0; 
              padding: 0;
              border-bottom: 32px solid; 
              border-left: 32px solid transparent;
          }
          &.indigo-light{
              background-color: #3F51B5;
              border: 1px solid #3F51B5;
              .skin-secondary{
                  border-bottom-color: #ececec;
              }
          }
          &.teal-light{
              background-color: #009688;
              border: 1px solid #009688;
              .skin-secondary{
                  border-bottom-color: #ececec;
              }
          }
          &.red-light{
              background-color: #F44336;
              border: 1px solid #F44336;
              .skin-secondary{
                  border-bottom-color: #ececec;
              }
          }
          &.blue-dark{
              background-color: #0277bd;
              border: 1px solid #0277bd;
              .skin-secondary{
                  border-bottom-color: #262626;
              }
          }
          &.green-dark{
              background-color: #388E3C;
              border: 1px solid #388E3C;
              .skin-secondary{
                  border-bottom-color: #262626;
              }
          }
          &.pink-dark{
              background-color: #D81B60;
              border: 1px solid #D81B60;
              .skin-secondary{
                  border-bottom-color: #262626;
              }
          }
      }
  }
  .mat-radio-group{
      display: inline-flex;
      flex-direction: column;
      .mat-radio-button{
          margin: 2px 0;
      }
  }
  .mat-slide-toggle{
      height: auto;
  }
  .ps{
      height: calc(100% - 48px);
  }
}

.op-image{
  box-shadow: 0 0 2px #ccc;
  border: 2px solid;
  border-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}
.options-icon{
  position: fixed;
  top: 110px;
  right: 0;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,.7);
  color: #fff;
  cursor: pointer;
  z-index: 999999;
  .mat-icon{
      -webkit-animation: spin 8s linear infinite;
      -moz-animation: spin 8s linear infinite;
      animation: spin 8s linear infinite;
  }
}

@-moz-keyframes spin { 
  100% { 
      -moz-transform: rotate(360deg); 
  } 
}
@-webkit-keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
  } 
}
@keyframes spin { 
  100% { 
      transform: rotate(360deg);
  }
}
