<div class="main-content animated slideInUp">
  <div class="container">
    <div class="row">
  
      <div class="col-md-12" style="margin-top: 20px;">
        <nb-card class="cabecera">
          <div class="icon-container">
            <div class="icon text-center cabecera-icon">
              <nb-icon class="action-icon fas fa-align-justify" style="font-size: 40px;"></nb-icon>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-6">
              <div class="details">
                <div class="title h5">Menu Contabilidad</div>
                <div class="status paragraph-2">Administración de los procesos de predial</div>
              </div>
            </div>
            <div class="col-6">
              <label>Buscar en modulo <nb-icon
                  nbTooltip="Puede buscar entre las diferentes opciones del menú del modulo ICA"
                  nbTooltipIcon="search-outline" icon="info"></nb-icon></label>
              <div>
                <input class="w-100" size="small" type="text" nbInput>
                <nb-icon icon="search" class="ml-2"></nb-icon>
    
              </div>
            </div>
          </div>
        </nb-card>
      </div>
    
      <div class="col-md-6" *ngFor="let item of menu; let i = index">
        <nb-card (click)="goTo(item.ruta, item.estado)" class="boxes pointer">
          <div class="icon-container">
            <div class="icon text-center" [ngClass]="item.estado === true ? 'status-success' : 'status-warning' ">
              <nb-icon class="action-icon" style="font-size: 40px;" pack="fa" icon="{{item.icon}}"></nb-icon>
            </div>
          </div>
    
          <div class="details">
            <div class="title h5">{{item.nombre}}</div>
            <div class="status paragraph-2">{{item.descripcion}}</div>
            <div class="status paragraph-2">
              <div *ngIf="item.estado" class="text-success"><i class="fa fa-check"></i>&nbsp; ACTIVO</div>
              <div *ngIf="!item.estado" class="text-warning"><i class="fa fa-ban"></i>&nbsp; INACTIVO</div>
            </div>
          </div>
        </nb-card>
      </div>
    </div>
  </div>
</div>






