<body>

    <!-- Codrops top bar -->
    <div class="codrops-top">
        <a (click)="GO()">
            <div style="display: block !important;">
                <img src="assets/img/gts-logo.png" style="width: 130px; height: 30px; display: block !important;" alt="img-gts">
                <img src="assets/img/gts-text.png" style="width: 140px; height: 15px; display: block !important;" alt="img-gts">
            </div>
            <!-- <strong>&laquo; Previous Demo: </strong>Responsive Content Navigator -->
        </a>

        <span class="right" style="margin-right: 10px;">
            <p class="forgot-pass text-dark" style="font-size: 16px;">HECHO CON <i class="fa fa-heart text-danger"></i> POR GTS S.A.S</p>
        </span>

        <div class="clr"></div>
    </div>

    <header class="text-center" style="margin-top: 30px; margin-bottom: 20px;">
        <h2 class="text-header"> gestion administrativa financiera <span>tributo.co</span></h2>
        <h5 class="text-header" style="font-size: 25px;"> <span>PLATAFORMA UNICA NACIONAL</span></h5>
    </header>


    <div id="wrapper" >
        <div id="login">
            <form autocomplete="on" class="animated fadeIn" [formGroup]="datos" (ngSubmit)="login()">
                <h3 class="text-center">
                    <img src="assets/img/logo_tributo_white.png" style="width: 250; height: 90px;"
                        alt="logo-login">
                </h3>
                <p>
                    <label for="username" class="uname" data-icon="u"> Nombre de Usuario </label>
                    <input id="usuario" name="usuario" required="required" type="text"
                        placeholder="Nombre de Usuario" formControlName="usuario" />
                </p>
                <p>
                    <label for="password" class="youpasswd" data-icon="p"> Contraseña </label>
                    <input id="password" name="password" required="required" type="password"
                        placeholder="eg. X8df!90EO" (keydown)="onKeydown($event)" formControlName="password" />
                </p>
                <p class="keeplogin">
                    <input type="checkbox" name="loginkeeping" id="loginkeeping" />
                    <label for="loginkeeping">Recordarme</label>
                </p>
                <p class="login button ">
                    <input type="submit" value="Ingresar" />
                </p>
            </form>
        </div>

    </div>
    <!--/ Codrops top bar -->

</body>
