<div class="courses-container">
	<div class="course">
		<div class="course-preview">
			<h6 class="text-center">
        <img src="assets/img/logo2.png" style="width: 70px; height: 70px;"><br>
      </h6>
      <h6 class="text-white" style="margin-top: 5px;">&nbsp;&nbsp;&nbsp;WARNING&nbsp;&nbsp;&nbsp;</h6>
      <a class="text-white pointer" (click)="close()">Cancelar &nbsp; <i class="fas fa-times"></i></a>
		</div>
		<div class="course-info">
			<h6 class="text-purple">{{data}}</h6>
			<button type="button" class="btn-alert" (click)="confirmar()" [autofocus]="false">Confirmar</button>
		</div>
	</div>
</div>

<!-- SOCIAL PANEL HTML -->
<div class="social-panel-container">
	<div class="social-panel">
		<p>Created with <i class="fa fa-heart"></i> by
			<a target="_blank" href="https://florin-pop.com">Florin Pop</a></p>
		<button class="close-btn"><i class="fas fa-times"></i></button>
		<h4>Get in touch on</h4>
		<ul>
			<li>
				<a href="https://www.patreon.com/florinpop17" target="_blank">
					<i class="fab fa-discord"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/florinpop1705" target="_blank">
					<i class="fab fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://linkedin.com/in/florinpop17" target="_blank">
					<i class="fab fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="https://facebook.com/florinpop17" target="_blank">
					<i class="fab fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://instagram.com/florinpop17" target="_blank">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<!--  <button class="floating-btn">
	Get in Touch
</button>  -->

<!-- <div class="floating-text">
	Part of <a href="https://florin-pop.com/blog/2019/09/100-days-100-projects" target="_blank">#100Days100Projects</a>
</div>
 -->





<!-- <div class="row">
  <div class="col-md-12">
    <div class="card pass-content">
      <div class="card-body">
        <h6 class="card-title text-center text-white">
          <img src="assets/img/logo2.png" style="width: 70px; height: 70px;"><br>
          Advertencia!
        </h6>
        <div class="container">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <p class="text-white">{{data}}</p>
            </div>
            <div class="col-md-10 offset-md-1" style="margin-bottom: 10px;">
              <div class="row">
                <div class="col-md-6">
                  <button (click)="confirmar()" type="button" class="btn btn-sm btn-block bg-white text-deep-blue"><i
                      class="fa fa-save"></i>&nbsp; Aceptar</button>
                </div>
                <div class="col-md-6">
                  <button (click)="close()" type="button" class="btn btn-sm btn-block bg-white text-deep-blue"><i
                      class="fa fa-times"></i>&nbsp; Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->