<div class="row" *ngIf="router.url != '/'">
    <div class="col-md-12">
        <div class="w-100">
            <nb-card class="breadcrumb w-100 bg-white" style="margin: 0px; margin-bottom: 5px;">
                <a *ngIf="router.url != '/'" class="breadcrumb-item" (click)="closeSubMenus()">
                    <mat-icon>home</mat-icon>
                    <span class="breadcrumb-title">Home</span>
                </a>
                <div *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item">                 
                    <a [hidden]="i == (breadcrumbs.length - 1)" >{{breadcrumb.name}}</a>   
                    <span [hidden]="i != (breadcrumbs.length - 1)" class="breadcrumb-title active">{{breadcrumb.name}}</span>
                </div> 
            </nb-card>
        </div> 
    </div>
</div>
