@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.panel {
  // background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  background: #fff url('../../../assets/img/bg.jpg') repeat top left;

  font-family: Roboto, sans-serif;
  margin: 0;
  // height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}
.card {
  background: #fff;
  border-radius: 4px;
  // box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card h4 {
  margin: 0;
  padding: 0 1rem;
  color: rgb(30, 25, 72) !important;
  color: #700909 !important;
  color: darkcyan !important;
  color: #1E7BB1 !important;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
  height: 80px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  // background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  background: rgb(30, 25, 72);
  background: #700909;
  background: darkcyan;
  background: #1E7BB1;
  top: 15px;
  left: 85px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  // background-image: url("https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg");
  // background-image: url("../../../assets/img/bg.jpg") !important;
  // background-position: bottom center;
  // background-size: cover;
  background: #E2D4BA;
  background: rgb(228, 243, 224);
  background: #BFDBF7;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  color: rgb(30, 25, 72);
  color: #700909;
  color: darkcyan;
  color: #1E7BB1;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    color: #4caf50;
    color: rgb(222, 43, 110);
    color: #BFDBF7;
    transform: rotate(22deg);
  }
}
