<!-- 

<div class="row" style="margin-top: 30px;">
  <div class="col-md-3">

    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <div class="row no-gutters">
            <div class="col-md-12" style="padding: 20px">
              <h5 class="card-title text-header" style="background-color: transparent !important;"> Opciones </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" style="padding: 30px; padding-top: 0px;">
              <div style="background-color: #f0f6ff !important">
                <div class="row" style="padding: 20px;">
                  <div class="col-md-12" style="padding: 5px;">
                    <div class=" text-purple text-center set-item pointer">
                      <i class="fa fa-search"></i> <br>
                      CONSULTAR CONTRIBUYENTE
                    </div>
                  </div>
                  <div class="col-md-6" style="padding: 5px;">
                    <div class=" text-purple text-center set-item pointer">
                      <i class="fa fa-file-text" ></i> <br>
                      RECIBO PAGO
                    </div>
                  </div>
                  <div class="col-md-6" style="padding: 5px;">
                    <div class=" text-purple text-center set-item pointer">
                      <i class="fa fa-file-text"></i> <br>
                      PAGO MANUAL
                    </div>
                  </div>
                  <div class="col-md-6" style="padding: 5px;">
                    <div class=" text-purple text-center set-item pointer">
                      <i class="fa fa-file-text"></i> <br>
                      REGISTRAR PAGO
                    </div>
                  </div>
                  <div class="col-md-6" style="padding: 5px;">
                    <div class=" text-purple text-center set-item pointer">
                      <i class="fa fa-file-text"></i> <br>
                      PAZ Y SALVO
                    </div>
                  </div>
                  <div class="col-md-6" style="padding: 5px;">
                    <div class=" text-purple text-center set-item pointer">
                      <i class="fa fa-file-text"></i> <br>
                      NOTAS CREDITO
                    </div>
                  </div>
                  <div class="col-md-6" style="padding: 5px;">
                    <div class=" text-purple text-center set-item pointer">
                      <i class="fa fa-file-text" ></i> <br>
                      NOTAS DEBITO
                    </div>
                  </div>
                  <div class="col-md-6" style="padding: 5px;">
                    <div class=" text-purple text-center set-item pointer">
                      <i class="fa fa-file-text"></i> <br>
                      RECLASIFICAR
                    </div>
                  </div>
                  <div class="col-md-6" style="padding: 5px;">
                    <div class=" text-purple text-center set-item pointer">
                      <i class="fa fa-file-text"></i> <br>
                      ACUERDO PAGO
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nb-card>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <nb-card>
      <div class="row no-gutters">
        <div class="col-md-1" style="padding: 20px">
          <img src='assets/img/default.png' class="card-img">
        </div>
        <div class="col-md-3">
          <div class="card-body">
              <p class="card-text text-header" style="margin-bottom: 0px;"><b>REFENCIA:</b> {{ datos_contribuyente.codigo }}
              <p class="card-text text-header" style="margin-bottom: 0px;"><b>NIT:</b> {{ datos_contribuyente.codigo }}
            </p>
            <p class="card-text text-header" style="margin-bottom: 0px;"><b>TELEFONO:</b>
              {{ datos_contribuyente.codigo }} </p>
            <p class="card-text text-header" style="margin-bottom: 0px;">
              <b>ESTADO: </b>
              <span *ngIf="datos_contribuyente.estado === 'ACTIVO'" class="badge badge-success"> ACTIVO</span>
              <span *ngIf="datos_contribuyente.estado === 'INACTIVO'" class="badge badge-danger"> INACTIVO</span>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <p class="card-text text-header" style="margin-bottom: 0px;"><b>DEPARTAMENTO:</b>
              {{ datos_contribuyente.codigo }} </p>
            <p class="card-text text-header" style="margin-bottom: 0px;"><b>MUNICIPIO:</b>
              {{ datos_contribuyente.codigo }} </p>
            <p class="card-text text-header" style="margin-bottom: 0px;"><b>BARRIO:</b> {{ datos_contribuyente.codigo }}
            </p>
            <p class="card-text text-header" style="margin-bottom: 0px;"><b>DIRECCION:</b>
              {{ datos_contribuyente.codigo }} </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <nb-actions size="small" class="pull-right">
              <nb-action class="pointer text-header" (click)="editar(item)">
                <nb-icon class="action-icon" icon="settings-2"></nb-icon>
                <span>Configurar</span>
              </nb-action>
            </nb-actions>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="padding: 30px; padding-top: 0px;">
          <div style="background-color: #f0f6ff !important">
            <div class="row" style="padding: 20px;">
              <div class="col-md-12">
                <div class="text-center" [ngClass]="inactivo ? 'text-danger' : ''"
                  style="margin-top: 5px; margin-bottom: 5px;">CUENTA CORRIENTE DEL CONTRIBUYENTE</div>
                <mat-tab-group *ngIf="selected && !inactivo">
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <div>ESTADO DE CUENTA</div>
                    </ng-template>
                    <app-estado-cuenta #_EstadoCuenta (rec)="openConfigEstadoCuenta()"></app-estado-cuenta>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <div>RECIBO DE PAGO</div>
                    </ng-template>

                    <app-recibo-pago (generar)="generarRecibo()">
                    </app-recibo-pago>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <div>PAGOS APLICADOS</div>
                    </ng-template>

                    <app-pagos-aplicados (generar)="generarPagoAplicado($event)"></app-pagos-aplicados>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <div>PAZ Y SALVO</div>
                    </ng-template>

                    <app-salvo (emitir)="emitirPYZvalidarEstadoCuenta()">
                    </app-salvo>
                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label>
                      <div>MOVIMIENTO</div>
                    </ng-template>
                    <app-procesos></app-procesos>
                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label>
                      <div>ACUERDO DE PAGO</div>
                    </ng-template>
                    <app-acuerdo-pago></app-acuerdo-pago>
                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label class="text-primnary">
                      <div>COBRO COACTIVO</div>
                    </ng-template>
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <div class="alert text-purple" style="background-color: #ccc;" role="alert">
                          <i class="fa fa-info-circle"></i>&nbsp; INFORMACION NO DISPONIBLE!
                        </div>
                      </div>
                    </div>
                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label class="text-primnary">
                      <div>HISTORICO</div>
                    </ng-template>
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <div class="alert text-purple" style="background-color: #ccc;" role="alert">
                          <i class="fa fa-info-circle"></i>&nbsp; INFORMACION NO DISPONIBLE!
                        </div>
                      </div>
                    </div>
                  </mat-tab>

                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nb-card>
  </div>
</div>

 -->