<button mat-icon-button [matMenuTriggerFor]="appsMenu" #appsMenuTrigger="matMenuTrigger">
    <mat-icon style="font-size: 35px !important;">apps</mat-icon>
</button>

<mat-menu #appsMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu applications">
    <span (mouseleave)="appsMenuTrigger.closeMenu()">
        <mat-toolbar class="bg-purple">
            <div fxLayout="row" fxLayoutAlign="space-around center" class="header text-white">
               Modulos 
            </div>  
        </mat-toolbar>
        <mat-card>           
            <mat-grid-list cols="3" rowHeight="1:1">
                <mat-grid-tile *ngFor="let item of modulos; let i=index">
                  <button mat-button (click)="getModulo(i)">
                      <mat-icon class="muted-text"> {{ item.icon }} </mat-icon>
                      <span> {{ item.name }} </span>
                  </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </span>
</mat-menu>

