<div class="main-content animated fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="alert bg-purple2" style="padding: 5px;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6>DEPARTAMENTOS</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <nb-actions size="small" class="pull-right">
                                            <nb-action (click)="select()" class="pointer">
                                                <nb-icon class="action-icon" icon="save-outline"></nb-icon>
                                                <span>Seleccionar</span>
                                            </nb-action>
                                            <nb-action (click)="close(0)" class="pointer">
                                                <nb-icon class="action-icon" icon="close-circle-outline"></nb-icon>
                                                <span>Cancelar</span>
                                            </nb-action>
                                        </nb-actions>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <div class="card w-100">
                                    <div class="card-body">
                                        <h6 class="card-title text-center text-purple">Listado de Departamentos</h6>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" (keyup)="applyFilter($event.target.value)" nbInput
                                                    fullWidth fieldSize="small" placeholder="Buscar por...">

                                                <div class="table-container">
                                                    <table mat-table [dataSource]="dataSource" class="w-100">

                                                        <ng-container matColumnDef="select">
                                                            <th mat-header-cell *matHeaderCellDef
                                                                style="width: 20% !important;">
                                                                Seleccionar
                                                            </th>
                                                            <td mat-cell *matCellDef="let row; let i = index">
                                                                <mat-checkbox color="warn"
                                                                    (click)="$event.stopPropagation()" name="{{i}}"
                                                                    (change)="$event ? selection.toggle(row) : null; setCheckBox($event, row)"
                                                                    [checked]="selection.isSelected(row)">
                                                                </mat-checkbox>
                                                            </td>
                                                        </ng-container>

                                                        <ng-container matColumnDef="divipo">
                                                            <th mat-header-cell *matHeaderCellDef
                                                                style="width: 20% !important;"> Codigo
                                                                Divipo </th>
                                                            <td mat-cell *matCellDef="let item"> {{item.idGeDivipo}}
                                                            </td>
                                                        </ng-container>

                                                        <ng-container matColumnDef="codigo">
                                                            <th mat-header-cell *matHeaderCellDef
                                                                style="width: 20% !important;"> Codigo </th>
                                                            <td mat-cell *matCellDef="let item" class="text-center">
                                                                {{item.codigoDepartemento}} </td>
                                                        </ng-container>

                                                        <ng-container matColumnDef="nombre" class="text-center">
                                                            <th mat-header-cell *matHeaderCellDef class="text-center"
                                                                style="width: 40% !important;"> Nombre </th>
                                                            <td mat-cell *matCellDef="let item" class="text-center">
                                                                &nbsp;&nbsp;&nbsp; {{item.nombreDepartamentp}}
                                                            </td>
                                                        </ng-container>

                                                        <tr style="height: auto !important; padding: 2px !important;"
                                                            mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                                        <tr class="trow" mat-row
                                                            *matRowDef="let row; columns: displayedColumns;"></tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <form [formGroup]="datos">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h6 class="card-title text-center text-purple">Departamento
                                                        Seleccionado</h6>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="divipo" class="label">Codigo Divipo</label>
                                                                <input readonly fieldSize="small" type="text" nbInput
                                                                    fullWidth formControlName="divipo" id="divipo"
                                                                    name="divipo" placeholder="Codigo Divipo">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="codigo" class="label">Codigo Departamento
                                                                </label>
                                                                <input readonly fieldSize="small" type="text" nbInput
                                                                    fullWidth formControlName="codigo" id="codigo"
                                                                    name="codigo" placeholder="Codigo Departamento">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="nombre" class="label">Nombre
                                                                    Departamento</label>
                                                                <input type="text" fieldSize="small" nbInput fullWidth
                                                                    formControlName="nombre" id="nombre" name="nombre"
                                                                    placeholder="Nombre Departamento">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>