<div class="main-content animated slideInRight">
    <div class="container">
        <div class="row">
            <mat-card class="block p-3" class="mat-elevation-z8 w-100 card-panel">
                <nb-card class="mt-2 card-title" style="background-color: transparent !important;">
                    <div class="icon-container">
                        <div class="icon text-center bg-purple">
                            <i class="action-icon fas fa-book" style="font-size: 40px;"></i>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col-8">
                            <div class="details">
                                <div class="title h5">TERCEROS</div>
                                <div class="status paragraph-2">Creacion de terceros</div>
                                <div class="status paragraph-2">
                                    <div class="text-success"><i class="far fa-file-alt"></i>&nbsp; MODULO DE PRESUPUESTO -
                                        TERCEROS
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nb-card>
                <mat-card-content style="margin-top: 15px !important;">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="mb-2"><b class="text-purple"> <i class="fa fa-cogs"></i> Información de los
                                    terceros</b></h6>
                            <hr class="mb-2">
                            <div class="col-md-12 py-2 bg-purple2" style="border-radius: 6px 6px 0px 0px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <nb-actions size="small" class="">
                                                <nb-action  class="pointer" (click)="nuevo()">
                                                    <nb-icon class="action-icon" icon="plus-circle-outline"></nb-icon>
                                                    <span>NUEVO</span>
                                                </nb-action>
                                                <nb-action class="pointer" >
                                                    <nb-icon class="action-icon" icon="slash-outline"></nb-icon>
                                                    <span>EDITAR</span>
                                                </nb-action>
                                                
                                            </nb-actions>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table mat-table [dataSource]="dataSource" matSort class="w-100">
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <i class="fa fa-check-circle text-warning"></i>
                                    </th>
                                    <td mat-cell *matCellDef="let row; let i = index">
                                        <mat-checkbox style="margin-right: 5px;"
                                           >
                                        </mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="terCod">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Codigo
                                    </th>
                                    <td mat-cell *matCellDef="let item; let row">{{item.terCod}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="terNombre">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Primer nombre
                                    </th>
                                    <td mat-cell *matCellDef="let item"> <b></b>{{item.terNombre}} </td>
                                </ng-container>

                                <ng-container matColumnDef="terNombre2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;">
                                        Sengudo Nombre
                                    </th>
                                    <td mat-cell *matCellDef="let item">{{item.terNombre2}}</td>
                                </ng-container>

                                <ng-container matColumnDef="terApellido">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Primer apellido
                                    </th>
                                    <td mat-cell *matCellDef="let item"> <b></b>{{item.terApellido}} </td>
                                </ng-container>

                                <ng-container matColumnDef="terApellido2">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Segundo apellido
                                    </th>
                                    <td mat-cell *matCellDef="let item">{{item.terApellido2}}</td>
                                </ng-container>

                                <ng-container matColumnDef="terCel">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Telefono
                                    </th>
                                    <td mat-cell *matCellDef="let item">{{item.terCel}}</td>
                                </ng-container>

                                <ng-container matColumnDef="terDir">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Direccion
                                    </th>
                                    <td mat-cell *matCellDef="let item">{{item.terDir}} </td>
                                </ng-container>
                                <ng-container matColumnDef="terMail">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Correo
                                    </th>
                                    <td mat-cell *matCellDef="let item">{{item.terMail}} </td>
                                </ng-container>
                                <ng-container matColumnDef="estado">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Estado
                                    </th>
                                    <td mat-cell *matCellDef="let item" >{{item.estado}}</td>
                                </ng-container>

                                <tr style="height: auto !important; padding: 2px !important;" mat-header-row
                                    *matHeaderRowDef="displayedColumns"></tr>
                                <tr class="trow" mat-row *matRowDef="let row;let i = index; columns: displayedColumns;">
                                </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[20, 50, 70, 100]" class="paginator-table"
                                showFirstLastButtons>
                            </mat-paginator>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
