<router-outlet *ngIf="!showLoading"></router-outlet>
<ng-snotify></ng-snotify>

<ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.79)" size="large" color="#fff" type="ball-scale-multiple"
    [fullScreen]="true">
    <h3 style="color: #fff">
        {{settings.loadingtext}} </h3>
</ngx-spinner>

<div *ngIf="showLoading" class="loading-container">
    <img src="assets/img/logo_mobile.png" class="centrado-porcentual img-loading">
</div>
