@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/all";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";

@import "~ng-snotify/styles/dark";

// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

.loading-container {
  height: 100vh;
  width: 100%;
  background-color: #fff;
}

.img-loading {
  width: 25vh;
  height: 25%;
}

.bg-dark-blue-gradient {
  background: linear-gradient(#4b6cb7, #182848);
}

.bg-dark-blue-aqua-gradient {
  background: linear-gradient(#085078, #85d8ce);
}

.bg-purple-gradient {
  background: linear-gradient(#4776e6, #8e54e9);
}

.bg-violet-gradient {
  background: linear-gradient(#aa076b, #61045f);
}

.mat-horizontal-stepper-header {
  height: 50px !important;
}

.boxes {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.boxes:hover {
  transform: scale(1.03) !important;
  color: darkgoldenrod !important;
  background-color: #dadff7 !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 5px 5px rgba(0, 0, 0, 0.24) !important;
}

.mat-cell {
  font-size: 11px !important;
  height: auto !important;
}

.mat-footer-cell {
  font-size: 13px !important;
  height: auto !important;
}

.mat-row {
  font-size: 10px !important;
  font-weight: 600;
}

.mat-row:nth-child(even) {
  background-color: rgb(241, 243, 250);
  font-size: 12px !important;
}

.mat-row:nth-child(odd) {
  background-color: #fff;
  font-size: 10px !important;
}

.new:hover {
  color: rgb(8, 139, 8);
  background-color: #fff !important;
}

.edit:hover {
  color: rgb(62, 182, 230);
  background-color: #fff !important;
}

.null:hover {
  color: rgb(148, 11, 11);
  background-color: #fff !important;
}

.search:hover {
  color: rgb(27, 24, 207);
  background-color: #fff !important;
}

.check:hover {
  color: rgb(8, 139, 8);
  background-color: #fff !important;
}

.config:hover {
  color: rgb(11, 143, 148);
  background-color: #fff !important;
}

.tab-icon {
  margin-right: 8px;
}

.mat-tab-label {
  color: #090544;
  min-width: 25px !important;
  padding: 5px;
  //background-color: #DADFF7;
  font-weight: 700;
}

.mat-tab-label:active {
  min-width: 25px !important;
  padding: 5px;
  background-color: #fff !important;
  color: #090544;
  font-weight: 700;
}

.mat-tab-label:selected {
  min-width: 25px !important;
  padding: 5px;
  background-color: #ccc !important;
  color: #090544;
  font-weight: 700;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  background-color: #73a2c9;
}

.mat-tab-header-pagination-chevron {
  border-color: #dadff7;
}

.mat-tab-label .mat-tab-label-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 12px;
}

.bg-selected {
  background-color: rgb(248, 242, 157) !important;
}

.mat-dialog-container {
  padding: 14px !important;
}

.mat-tab-label {
  height: 30px !important;
  padding: 0 14px !important;
}

.card-img-small {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.mat-header-cell {
  color: #fff !important;
  background-color: #090544 !important;
}

.mat-cell,
.mat-footer-cell {
  font-size: 12px;
}

.panel > mat-dialog-container {
  background-color: transparent !important;
  padding: 0px;
  box-shadow: none;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-dialog-container {
  overflow: hidden !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff !important;
}

.tim-typo {
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
}

.tim-typo .tim-note {
  bottom: 5px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}

.img-icon {
  width: 25px;
  height: 25px;
  margin-right: 7px;
}

.img-icon-header {
  width: 35px;
  height: 35px;
  margin-right: 7px;
}

.trow {
  transition: 0.2s;
  height: auto !important;
  margin: 0px !important;
  padding: 0px !important;
  font-size: 12px !important;
}

.trow:hover {
  background-color: #dadff7 !important;
  td {
    color: #090544;
    font-weight: 600;
  }
}

.bg-purple {
  background-color: #090544 !important;
}

.bg-purple2 {
  background-color: #dadff7 !important;
}

.text-purple {
  color: #090544 !important;
}

.centrado-porcentual {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.t-title {
  font-size: 20px !important;
  margin: 0px;
}

.t-subtitle {
  font-size: 13px !important;
  margin: 0px;
}

.text-tributo-primary {
  color: #1e1948 !important;
}

.text-darkcyan {
  color: darkcyan !important;
}

.nb-theme-default
  nb-layout
  .layout
  .layout-container
  .content
  .columns
  nb-layout-column {
  padding: 1rem 1rem 0.75rem;
}

.nb-theme-default nb-sidebar {
  /* background-image: url('../../../assets/images/city.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  color: #1a2138;
  font-family: Open Sans, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  width: 16rem;
  scrollbar-face-color: #e4e9f2;
  scrollbar-track-color: #f7f9fc;
}

.nb-theme-default nb-menu .menu-group,
.nb-theme-default nb-menu .menu-item a {
  font-family: Open Sans, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.5rem;
  //padding: 0.50rem 0.50rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.content > * {
  width: 100%;
}

.centrado-porcentual {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.pointer {
  cursor: pointer;
}

.nb-theme-default nb-menu .menu-group,
.nb-theme-default nb-menu .menu-group nb-icon.menu-icon {
  color: #8f9bb3;
}

.nb-theme-default nb-select.appearance-outline.status-primary .select-button {
  width: auto !important;
  min-width: 70px !important;
}

.nb-theme-default nb-sidebar ::-webkit-scrollbar-thumb {
  background: #ccc;
  cursor: pointer;
  border-radius: 0.15625rem;
}

.nb-theme-default nb-layout ::-webkit-scrollbar-thumb {
  background: #ccc;
  cursor: pointer;
  border-radius: 0.15625rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nb-theme-default nb-layout-header nav {
  // background-color: #090544 !important;
}

.dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.btn-im {
  margin-top: 10px;
}

nb-layout-column {
  padding-top: 0 !important;
}

.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: #090544 !important;
  color: darkgoldenrod;
  font-weight: 700;
}

.mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: #dadff7 !important;
  color: #090544;
  font-weight: 700;
}

.tect-c {
  position: absolute;
  left: 50%;
  top: 50%;
}

.mat-row:nth-child(even) {
  background-color: #fff !important;
  font-size: 12px !important;
}

.mat-row:nth-child(odd) {
  background-color: #fff !important;
  font-size: 10px !important;
}

.mat-tab-labels {
  background: #e3e7f880 !important ;
}

.mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.mat-list-base .mat-list-item .mat-list-avatar,
.mat-list-base .mat-list-option .mat-list-avatar {
  flex-shrink: 0;
  width: 30px !important;
  height: 30px !important;
  /* border-radius: 50%; */
  object-fit: cover !important;
}

.has-danger:after {
  content: none !important;
}

.card-panel {
  background: none !important; 
  box-shadow: none !important;
}

.card-title {
  background-color: #edf0ff !important; 
  border: none !important; 
  border-radius: none !important; 
  margin: 0 !important; 
  box-shadow: none !important;
}

.paginator-table {
  background: #dfe7ff !important;
  border-radius: 6px !important; 
  margin-top: .5rem !important;
}

.bg-darkcyan{
  background-color: darkcyan !important;
}

.bg-darkcyan2{
  background-color: rgb(228, 243, 224) !important;
}

.text-darkcyan{
  color: darkcyan !important;
}

.bg-pastelgray{
  background-color: rgb(228, 243, 224) !important;
}


.bg-darkblue{
  background-color: #114B5F !important;
}

.bg-darkblue2{
  background-color: #B8DBD9 !important;
}

.text-darkblue{
  color: #114B5F !important;
}

.bg-blue{
  background-color: #1E7BB1 !important;
}

.bg-blue2{
  background-color: #BFDBF7 !important;
}

.text-blue{
  color: #1E7BB1 !important;
}


/* .bg-purple{
  background-color: #590548 !important;
}

.bg-purple2{
  background-color: #e8cbde !important;
}

.text-purple{
  color: #590548 !important;
} */

.bg-darkgoldenrod{
  background-color: darkgoldenrod !important;
}

.bg-darkgoldenrod2{
  background-color: #EDF0DA !important;
}

.text-darkgoldenrod{
   color: darkgoldenrod !important;
}

.bg-wine{
  background-color: #700909 !important;
}

.bg-wine2{
  background-color: #E2D4BA !important;
}

.text-wine{
   color: #700909 !important;
}

/* .nb-theme-default nb-sidebar {
  background: #fff url('assets/img/bg.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
}  */


/* .mat-header-cell {
  color: #fff !important;
  background-color: #1E7BB1 !important;
}

.bg-purple {
  background-color: #1E7BB1 !important;
}

.bg-purple2 {
  background-color: #BFDBF7 !important;
}

.text-purple {
  color: #1E7BB1 !important;
}

.paginator-table {
  background: #BFDBF7 !important;
  border-radius: 6px !important; 
  margin-top: .5rem !important;
}
 */

 .nb-theme-default nb-sidebar {
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1) !important;
  color: #1a2138 !important;
  font-family: Open Sans, sans-serif !important;
  font-size: 0.9375rem !important;
  font-weight: 400 !important;
  line-height: 1.25rem !important;
  width: 14rem !important;
  scrollbar-face-color: #e4e9f2 !important;
  scrollbar-track-color: #f7f9fc !important;
}

.light-blue {
  background: #f0f6ff !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-p{
  color: #590548 !important;
} 