<div class="header-container">
  <div class="logo-container">
    <!--     <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a> -->

    <img src="assets/img/logo_tributo_white.png" style="width: 220px; height: 80px;" alt="logo">
  </div>
</div>

<div class="header-container"  style="display: block;">
</div>

<div class="header-container"  > 
  <img [src]="imgUrl" onerror=" src='assets/img/default.png'" style="width: 60px; height: 60px;" alt="logo2">
  <div style="margin-left: 6px;">
    <p class="card-text header-text" style="margin-bottom: 0px; font-size: 25px;">
      <strong></strong> </p>
    <p class="card-text header-text" style="margin-bottom: 0px;"> <strong>
        FINANCIERO</strong> </p>
    <p class="card-text header-text" style="margin-bottom: 0px;"> <strong> {{ fecha }}</strong> </p>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action (click)="goBack()" class="control-item" icon="arrowhead-left-outline"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <app-modulos-menu fxShow="false" fxShow.gt-sm></app-modulos-menu>
    </nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <!--       <nb-user 
              [onlyPicture]="userPictureOnly"
              [name]="userMenu"
              [picture]="'assets/img/user-default.png'">
      </nb-user> -->
      <app-user-menu></app-user-menu>
    </nb-action>
  </nb-actions>
</div>