    <form [formGroup]="datos">
      <div class="row">
        <div class="col-md-12">
          <div class="card pass-content">
            <div class="card-body">
              <h6 class="card-title text-center text-white" style="background-color: transparent !important;">
                <img src="assets/img/logo2.png" style="width: 70px; height: 70px;"><br>
                Cambiar Contraseña
              </h6>
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="actual" class="text-white">Contarseña Actual <b class="text-danger"> *</b></label>
                      <input type="password" name="actual" id="actual" formControlName="actual" class="form-control bg-white" placeholder="Contraseña Actual">
                      <small class="text-warning" *ngIf="datos.controls.actual.errors"><i class="fa fa-info-circle"></i>&nbsp;Debe ingresar la contraseña actual</small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="nueva" class="text-white">Contarseña Nueva <b class="text-danger">*</b></label>
                      <input type="password" name="nueva" id="nueva" formControlName="nueva" class="form-control bg-white" placeholder="Contraseña Nueva">
                      <small class="text-warning" *ngIf="datos.controls.nueva.errors"><i class="fa fa-info-circle"></i>&nbsp;Ingrese la Nueva Contraseña</small>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="confirm" class="text-white">Confirmar Contraseña <b class="text-danger">*</b></label>
                      <input type="password" name="confirm" id="confirm" formControlName="confirm" class="form-control bg-white" placeholder="Confirmar Contraseña Nueva">
                      <small class="text-warning" *ngIf="datos.controls.confirm.errors"><i class="fa fa-info-circle"></i>&nbsp;{{datos.controls.confirm.errors.compare.message}}</small>
                    </div>
                  </div>  
                  <div class="col-md-12" style="margin-bottom: 10px;">
                    <div class="row">
                      <div class="col-md-6">
                        <button [disabled]="!datos.valid" (click)="updatePassword()" type="button" class="btn btn-sm btn-block bg-white text-deep-blue"><i class="fa fa-save"></i>&nbsp; Guardar</button>
                      </div>
                      <div class="col-md-6">
                        <button (click)="close(0)" type="button" class="btn btn-sm btn-block bg-white text-deep-blue"><i class="fa fa-times"></i>&nbsp; Cancelar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>