@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

@import "../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card {
    flex-direction: row;
    align-items: center;
    height: 6rem;
    overflow: visible;

    .icon-container {
      height: 100%;
      padding: 0.625rem;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5.75rem;
      height: 4.75rem;
      font-size: 3.75rem;
      border-radius: nb-theme(card-border-radius);
      transition: width 0.4s ease;
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      color: nb-theme(text-control-color);

      @each $status in nb-get-statuses() {
        &.status-#{$status} {
          $left-color: nb-theme(button-hero-#{$status}-left-background-color);
          $right-color: nb-theme(button-hero-#{$status}-right-background-color);
          background-image: linear-gradient(
            to right,
            $left-color,
            $right-color
          );

          &:hover {
            $left-hover-color: nb-theme(
              button-hero-#{$status}-hover-left-background-color
            );
            $right-hover-color: nb-theme(
              button-hero-#{$status}-hover-right-background-color
            );
            background-image: linear-gradient(
              to right,
              $left-hover-color,
              $right-hover-color
            );
          }
        }
      }
    }

    &.off {
      color: nb-theme(text-hint-color);

      .status,
      .title,
      .icon {
        color: nb-theme(text-hint-color);
      }

      @each $status in nb-get-statuses() {
        .icon.status-#{$status} {
          box-shadow: none;
          background-image: linear-gradient(to right, transparent, transparent);
        }
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
      @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
      border-left: 1px solid transparent;
    }

    .title {
      margin: 0;
    }

    .status {
      text-transform: uppercase;
    }
  }
}

.cabecera {
  background: #d4dee8;
  box-shadow: none;
}

.cabecera-icon {
  background-image: linear-gradient(to right, #404e8a, #222a5000);
  color: #2e3658;
}

.header-background {
  display: inline-flex;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}

.header-icon {
  font-size: 2.5rem;
  color: #0b0926;
  margin-right: 0.5rem;
}
.header-desc {
  color: #0b0926;
  font-size: 1.7rem;
}

$bg-color: #090544 !important;
$bg-color2: #dadff7 !important;

.panel {
  background: #fff url("../../../../assets/img/bg.jpg") repeat top left;
  font-family: Roboto, sans-serif;
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}
.card {
  background: #fff;
  border-radius: 4px;
  max-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card h4 {
  margin: 0;
  padding: 0 1rem;
  color: $bg-color;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
  height: 80px;
}
.card .actions {
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background: $bg-color;
  top: 15px;
  left: 85px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: $bg-color2;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: $bg-color;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    color: $bg-color2;
    transform: rotate(22deg);
  }
}

.divisor {
  box-shadow: 2px 2px 4px $bg-color;
}

.bg-purple {
  background-color: $bg-color;
}

.bg-purple2 {
  background-color: $bg-color2;
}

.text-purple {
  color: $bg-color;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}
