<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" class="text-purple">
    <mat-icon style="font-size: 35px !important;">account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
    <!--<span (mouseleave)="userMenuTrigger.closeMenu()">-->
        <mat-toolbar class="bg-purple text-white" style="margin-top: 0px; ">
            <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info">
                <img [src]="userImage" alt="user-image" width="80" class="rounded">
                <p class="text-white">{{ userName | uppercase }} <br> <small>Administrador</small></p>
            </div>  
        </mat-toolbar>
        <a mat-menu-item routerLink="profile"> 
            <mat-icon>person</mat-icon>
            <span>Perfil</span> 
        </a>
        <a mat-menu-item (click)="openFormPassword()"> 
            <mat-icon>lock</mat-icon>
            <span>Cambiar Contraseña</span> 
        </a>
        <div class="divider"></div>
        <a mat-menu-item (click)="logOut()"> 
            <mat-icon>power_settings_new</mat-icon>
            <span>Cesar Sesion</span> 
        </a>
    <!--</span>-->
</mat-menu>
