<div class="row">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="datos" class="w-100">
        <div class="row">
          <div class="col-md-12" style="margin-left: 30px;">
            <div class="row">
              <h2 style="font-size: 40px;" class="text-purple">
                <i class="fa fa-file-alt"></i>
              </h2>&nbsp;&nbsp;
              <div>
                <p class="t-title text-purple">Terceros</p>
                <p class="t-subtitle text-muted">Nuevo tercero </p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="label">Vigencia</label>
                    <input autofocus fieldSize="small" type="text" formControlName="vigencia" name="vigencia" readonly
                      nbInput fullWidth placeholder="">
                  </div>
                  <div class="form-group">
                    <label class="label">Identificador Consecutivo</label>
                    <input autofocus fieldSize="small" type="text" formControlName="consId" name="consId" nbInput
                      fullWidth placeholder="Identificador">
                  </div>
                  <div class="form-group">
                    <label class="label">Nombre Consecutivo</label>
                    <input autofocus fieldSize="small" type="text" formControlName="consDes" name="consDes" nbInput
                      fullWidth placeholder="Nombre">
                  </div>

                </div>



              </div>
            </div>
          </div>
          <!-- // Submit // -->
          <div class="col-md-12">
            <nb-actions size="small" fullWidth>
              <nb-action class="pointer" [disabled]="!datos.valid">
                <nb-icon class="action-icon" icon="save-outline"></nb-icon>
                <span>Guardar</span>
              </nb-action>
              <nb-action class="pointer" (click)="close(0)">
                <nb-icon class="action-icon" icon="close-circle-outline"></nb-icon>
                <span>Cancelar</span>
              </nb-action>
            </nb-actions>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>


</div>